@import url(https://fonts.googleapis.com/css?family=Dosis:600,200|Great+Vibes);
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border: 0 none;position: relative;}




section {
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 27%, rgba(25,42,103,1) 27%, rgba(25,42,103,1) 100%);
  width: 20vw;
  max-width: 100%;
  min-width: 390px;
  height: 32rem;
  margin: 4rem auto;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
article {
  position: absolute;
  left: 0;
  top: 5rem;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem 0;
  overflow: auto;
  transition: .7s;
  transform: scale(0);
  transform-origin: center right;
  transition-delay: .1s;
}
article:before {
  color: rgba(0,0,0,.2);
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: rgba(0,0,0,0);
}
body > h2 {height: 100%;}
h2 img {
  width: 65%;
  background: #f9f9f9;
  border: 5px solid rgba(0,0,0,.7);
  border-radius: 10%;
  padding: 5px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 7px rgba(0,0,0,.5);
}
h2 p{
  font-family: 'Alata', sans-serif;
  font-size:42%;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color:#FFFFFF;

}
h2 span {
  font-family: 'Alata', sans-serif;
  font-size:60%;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color:#FFFFFF;
}
footer ul {
  width: 100%;
  color: #037B49;
}
footer li {
  list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
footer li::before {
	display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
p, dl, ol {
  line-height: 1.5;
  font-size: 1.3rem;
}
ol li {margin: 0 0 .5rem 1rem;}
dt {
  font-size: 1.6rem;
  font-weight: 600;
  text-indent: 1.5rem;
}
nav {
  background: #fff;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
nav:after {
  content:'';
  width: 25%;
  height: 5rem;
  background: #192a67;
  position: absolute;
  transition: .5s;

}
input {
  display: none;
}
label {
  width: 25%;
  float: left;
  color: #192a67;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
label p{
  font-family: 'Alata', sans-serif;
  font-size: 90%;
}

label:hover {color: #d8b46c;}
label:before {
  display: block;
  font-size: 3rem;
  line-height: 3.5rem;
  z-index: 2;
}
#profile:checked ~ nav [for='profile'],
#settings:checked ~ nav [for='settings'],
#posts:checked ~ nav [for='posts'] {
  color: #d8b46c;
  font-weight: 50;
}
#settings:checked ~ nav [for='settings'] {}
#profile:checked ~ nav [for='profile'] {}

#profile:checked ~ nav:after {
  left: 0;
}
#settings:checked ~ nav:after {
  left:25%;
  border-top: 0 none;
}
#posts:checked ~ nav:after {
  left: 50%;
}

#profile:checked ~ .uno,
#settings:checked ~ .dos,
#posts:checked ~ .tres{
  display: block;
  transform: scale(1);
  transition-delay: .5s;
}
a {color: rgba(0,0,0,.4)}
a:hover {color: rgba(0,0,0,.2)}

.dos h4{
  font-family: 'Alata', sans-serif;
  color:#192a67;
  font-size: 150%;
}
.dos p{
font-family: 'Alata', sans-serif;
  text-align: justify;
  color:#FFFF;
  font-size: 80%;
}
.tres h4{
  font-family: 'Alata', sans-serif;
  color:#192a67;
  font-size: 150%;
}
.tres ul{
font-family: 'Alata', sans-serif;
  text-align: justify;
  color:#FFFF;
  font-size: 100%;
  margin-left: 5%;
}
